
.caixaPrincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%;

    align-items: center;

    background-color: #226f54;

    border-bottom-left-radius: 20px;   /* arredonda canto inferior esquerdo */
    border-bottom-right-radius: 20px;  /* arredonda canto inferior direito */
}

.caixaDireita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    
    margin-right: 5%;

    flex: 1 1 clamp(250px, 35%, 550px); /* tamanho base responsivo */
    height: clamp(300px, 40vh, 600px);

    max-width: 550px;
    min-width: 250px;

    /* 🎨 Efeito vidro */
    background: rgba(255, 255, 255, 0.12); /* leve transparência */
    backdrop-filter: blur(12px);           /* desfoca o fundo */
    -webkit-backdrop-filter: blur(12px);   /* suporte Safari */
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* brilho suave */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25); /* sombra suave */

}

.caixaEsquerda {
    flex: 1 1 clamp(250px, 35%, 550px);
    max-width: 550px;
    min-width: 250px;
    
    display: flex;                 
    justify-content: center;       
    align-items: center;      

}

.caixaEsquerda img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
}


.telefone {
    color: inherit;
    text-decoration: none;
}

.telefone:hover {
    text-decoration: underline;
}

.morada {
    color: inherit;
    text-decoration: none;
}

.morada:hover {
    text-decoration: underline;
}


.linguas {
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 999;
}


.linguas {
    position: fixed; 
    right: 20px;     
    top: 20px;       
    display: inline-block; 
}


.linguas-opcoes {
    position: absolute;  
    top: 100%;           
    left: 0;
    background: white;   
    display: none;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    z-index: 999;       
}

.linguas:hover .linguas-opcoes {
    display: block;
}

.copy-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
}
.copy-btn:hover {
    opacity: 0.7;
}


@media only screen and (max-width: 900px) {
    body {
        justify-content: flex-start; /* não centra horizontalmente */
        align-items: center;     /* não centra verticalmente */
    }
    .caixaPrincipal{
        flex-direction: column;
        justify-content: flex-start; /* não centra horizontalmente */
        align-items: center;     /* não centra verticalmente */
        
    }

    .caixaEsquerda{
        margin-bottom: 5%;
        width: 300px;
        height: 300px;
        padding: auto;
        font-size: clamp(0.80rem, 1.8vw, 0.85rem);

    }
    .caixaDireita{
        margin-bottom: 5%;
        width: 300px;
        height: 300px;
        padding: auto;
        font-size: clamp(0.80rem, 1.8vw, 0.85rem);
    }
    
}

.divisao{
    display: flex;
    justify-content: center; 
}
